{% extends 'base.html' %}

{% block title %}
Posts list of "{{ author }}": {{ author.blog_name }}
{% endblock %}

{% block content %}
  {% for post in object_list %}
    <h2><a href="{% url 'blog:post-detail' post.id %}">{{ post.title }}</a></h2>
    <h6 class="text-muted">{{ post.created }}</h6>
    <p>{{ post.text|linebreaks }}</p>
    {% if not post.published %}
    <div class="alert alert-danger" role="alert">
      Not published.
    </div>
    {% endif %}
    <hr>
  {% endfor %}
{% endblock %}
